/*Estilos generales*/
	* {
		margin: 0;
		padding: 0;		
	}
	a {
		color: inherit;
	}
	h1 {
		font-family: 'Poppins';
		text-decoration: underline;
		text-align: center;
		color: white;
	}
	h2 {
		font-family: 'Poppins';
		font-style: italic;
		text-align: center;
		color: white;
	}
	span {
		font-family: 'Poppins';
		font-style: normal;
		color: white;
	}
/*Encabezado*/
	header {
		font-family: 'Poppins';
		color: #ffffff;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-end;
		background-color: #731723;
	}
	.menu li {
		padding: 0px;
		margin: 0px;
		display: inline-block;
		background-color: #731723;
		/*transition-property: font-size;
		transition-duration: 280ms;
		transition-timing-function: ease-in;
		transition-delay: 0s;*/
	}
	.navbar {
		padding: 0px;
	}
	.menu {
		padding: 0px;
		margin: 0px;
		display: inline-block;
		background-color: #731723;
	}
/*Index*/
	.h1_index {color: #003361;
	}
	.col {
		padding: 15px;
		font-family: 'Poppins';
		color: #ffffff;
		font-size: 32px;
		background-image: linear-gradient(#003361 , #6EC6E5);
	}
/*¿Quiénes Somos?*/
	.cuerpo_quienes_somos {
		padding: 15px;
		font-family: 'Poppins';
		color: white;
		background-image: linear-gradient(#003361 , #6EC6E5);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
/*Servicios*/
	.cuerpo_servicios {
		font-family: 'Poppins';
		color: white;
		background-image: linear-gradient(#003361 , #6EC6E5);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
	}
/*Sucursales*/
	.cuerpo_sucursales {
		background-image: linear-gradient(#003361 , #6EC6E5);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
	.imagen_mapa {
		padding: 20px;
	}
/*Contacto*/
	.cuerpo_contacto {
		background-image: linear-gradient(#003361 , #6EC6E5);
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 20px;
	}
	.h1_contacto {
		padding: 20px;
		padding-top: 0px;
	}
	.form_contacto {
		padding: 20px;	
	}
	.cuerpo_contacto input{
		font-family: 'Poppins';
		color: #003361;
	}
/*Pie de página*/
	footer {
		padding: 15px;
		font-family: 'Poppins';	
		font-style: italic;
		font-weight: bold;
		color: #003361;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}
@media (max-width: 960px) {
	.carrusel {
		font-size: 40px;
	}
	.opciones_carrusel li {
	font-size: 20px;
	}
}
@media (max-width: 770px) {
	header {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.carrusel ul {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.opciones_carrusel li {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
}